<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT</title>
</head>
<p>
    <h1> ABOUT </h1>
    <p> <a href="/"> BACK TO HOMEPAGE </a> </p>




<p>
            This website is a training project.
            It will begin as avery simple website and progressively increase in design and complexity.
            This website is programed in python programming language and uses the Flask web development microframework.
        </p>
        <dl>
            <dt>test</dt>
            <dd>test 2</dd>
        </dl>





</body>
</html>