<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT</title>
</head>
<p>
    <h1> ABOUT </h1>
    <p> <a href="/"> BACK TO HOMEPAGE </a> </p>


<!--<p>-->
    <!--This is not meant to sell anything, I am not even seeking success by any outside measure but my own:-->
    <!--that of building a functional space that brings together my diverging interests and learning projects-->
    <!--and to articulate, to any audience who might stumble upon this digital environment,-->
    <!--but primarily to myself, the journey that brought me here and the thought process that I have deployed.-->
    <!--This site is a thought experiment.-->

    <!--Here is embrace the thought process in all its chaos. Therefore I am freed from all constraints of conventional cogency that most-->
    <!--sites with commercial objectives would require - a stated purpose, a precise goal. -->
<!--</p>-->

<p>
            This website is a training project.
            It will begin as avery simple website and progressively increase in design and complexity.
            This website is programed in python programming language and uses the Flask web development microframework.
        </p>
        <dl>
            <dt>test</dt>
            <dd>test 2</dd>
        </dl>
        <h4> The project will evolve as follows: </h4>
    <ul>
        <li> I will begin by creating html templates rendered by my decorated functions in the source code </li>
        <li> I will then add some css templates </li>
        <li> I will then add some Javascript </li>
        <li> I will then pause my progress on the front-end to focus on the back end </li>
        <li> On the back end, I will: </li>
        <ul>
            <li> Build a web-scraper that collect some data and connect it to the web app </li>
            <li> Create a database, both SQL and NoSQL, that stores this data </li>
            <li> create user log ins and passwords </li>
            <li> add some user interactivity </li>
            <li> Let the user post data of various forms </li>
            <li> create an interactive data visualization feature </li>
            <li> create a GUI </li>
            <li> Find some way to practice git and github in the process </li>
            <li> Find some way to practice Gulp in the process </li>
            <li> Explore various Javascript technologies such as Node.js or React </li>
            <li> Explore functions such as time and datetime in practice </li>
            <li> Explore blockchain applications </li>
            <li> Practice testing </li>
            <li> Practice maintenance </li>
            <li> Practice debugging </li>
            <li> Practice UX experiments </li>
            <li> Deploy the site to an internet server (Heroku or AWS) </li>
        </ul>
    </ul>
        <h1> That's it for now, but don't worry, this project will grow very fast </h1>




</body>
</html>