<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>

<body>
<header id="main-header"><h1> MY MIND IS OPEN <br> by Dan Herbatschek </h1> </header>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
    <menu> <h2 id="menu"> MENU </h2> </menu>
    <p> <p href="/about" class="btn btn-default btn-lg btn-block"> ABOUT <a/> </p>
    <p> <a href="/journey_in_the_life_of_an_aspiring_data_scientist" class="btn btn-default btn-lg btn-block"> JOURNEY IN THE LIFE OF AN ASPIRING DATA SCIENTIST </a> </p>
    <p> <a href="/mapping_the_software_engineering_landscape" class="btn btn-default btn-lg btn-block"> MAPPING THE SOFTWARE ENGINEERING LANDSCAPE </a> </p>
    <p> <a href="/website_history" class="btn btn-default btn-lg btn-block"> WEBSITE HISTORY </a> </p>
    <p> <a href="/projects" class="btn btn-default btn-lg btn-block"> PROJECTS </a> </p>
    <p> <a href="/portfolio" class="btn btn-default btn-lg btn-block"> PORTFOLIO </a> </p>
    <p> <a href="/data_science" class="btn btn-default btn-lg btn-block"> DATA SCIENCE </a> </p>
    <p> <a href="/mathematics" class="btn btn-default btn-lg btn-block"> MATHEMATICS </a> </p>
    <p> <a href="/awsbackeddata" class="btn btn-default btn-lg btn-block"> REAL-TIME AWS BACKED DATA PROCESSING & VISUALIZATION </a> </p>
    <p> <a href="/blockchain_technologies" class="btn btn-default btn-lg btn-block"> BLOCKCHAIN TECHNOLOGIES </a> </p>
    <p> <a href="/history_and_data_science" class="btn btn-default btn-lg btn-block"> HISTORY AND DATA SCIENCE </a> </p>
    <p> <a href="/intellectual_history" class="btn btn-default btn-lg btn-block"> INTELLECTUAL HISTORY </a> </p>
    <p> <a href="/history_of_science_and_mathematics" class="btn btn-default btn-lg btn-block"> HISTORY OF SCIENCE AND MATHEMATICS </a> </p>
    <p> <a href="/recommendations" class="btn btn-default btn-lg btn-block"> RECOMMENDATIONS </a> </p>
    <p> <a href="/training_page" class="btn btn-default btn-lg btn-block"> TRAINING PAGE </a> </p>
    <p> <a href="/training_page2" class="btn btn-default btn-lg btn-block"> TRAINING PAGE 2 </a> </p>




    <!-- - ABOUT-->
    <!--#   - JOURNEY IN THE LIFE OF AN ASPIRING DATA SCIENTIST-->
    <!--#   - MAPPING THE SOFTWARE ENGINEERING LANDSCAPE-->
    <!--#   - WEBSITE HISTORY-->
    <!--#   - PROJECTS IN PROGRESS-->
    <!--#   - DH PORTFOLIO-->
    <!--#   - DATA SCIENCE-->
    <!--#   - MATHEMATICS-->
    <!--#   - BLOCKCHAIN TECHNOLOGIES-->
    <!--#   - HISTORY AND DATA SCIENCE-->
    <!--#   - INTELLECTUAL HISTORY-->
    <!--#   - HISTORY OF SCIENCE AND MATHEMATICS-->
    <!--#   - RECOMMENDATIONS - READINGS, TALKS, ARTICLES, COURSES-->


    <!--<img src="/Users/HarveySFinkelstein/images/iStock-821783036 copy.jpg" alt="erdosaboutimage">-->

</body>
</html>