<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>training2</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <!--<style type="text/css">-->
        <!--h1 {color: blueviolet;}-->
        <!--p {color: blue;}-->
    <!--</style>-->
</head>

<body>
        <h1> This is Training page 2 </h1>
        <p> Lorem ipsum </p>
    <ul>
        <li> element 1 </li>
        <li> element 2 </li>
    </ul>

</body>

</html>